
<% include header%>
<a href="/" class="back">&lt;</a>

<h2><i class="fa fa-map-signs fa-1x i title" aria-hidden="true"></i>   Haltes</h2>
<form method="get" action="/halten">
  <input type="text" name="haltenaam" class="inputhalte" value="" placeholder="   | VAN WAAR?" required>
  <input type="submit" value="Zoek halte" class="submit">
</form>
<% include footer%>
