<% include header%>
<h2><i class="fa fa-map-signs fa-1x i title" aria-hidden="true"></i>    Haltes</h2>
<input type="text" name="haltenaam" class="inputhalte" value="" placeholder="   | VAN WAAR?" required>
<input type="submit" class="submit" value="OPNIEUW ZOEKEN">
<%- haltes %>
<% include footer%>
