<h1>Naar waar?</h1>
<form method="get" action="/halten">
  <input type="text" name="haltenaam" value="" required>
  <input type="submit" value="zoekhalte">
</form>

<a href="/"><button>back</button></a>
