<h1>zoek verkooppunten in uw gemeente van De Lijn</h1>

<form method="post" action="/zoek">
  <input type="text" name="stad" value="wommelgem">
  <input type="submit" value="toon resultaten">
</form>
<%- verkoop %>
<p>Uw Locatie: SILSBURG</p>
<p>Google Maps</p>
<ul>
<li>Lijn 24 in 4 min</li>
<li>Lijn 420 in 4 min</li>
<li>Lijn 8 in 4 min</li>
</ul>
