<% include header%>
<img src="/img/dl-logo.svg" alt="de lijn" class="logo">
<div class="container">
      <a href="/vertrekken">
          <button class="btn btn_vertrek">
              <h3>Vertrekken</h3>
              <i class="fa fa-road fa-5x i" aria-hidden="true"></i>
          </button>
      </a>
      <a href="/verkooppunt">
          <button class="btn btn_verkoop">
              <h3>Verkooppunt</h3>
              <i class="fa fa-list-alt fa-5x i" aria-hidden="true"></i>
          </button>
      </a>
      <a href="/zoeken">
          <button class="btn btn_quick" >
              <h3>Zoeken</h3>
              <i class="fa fa-search fa-5x i" aria-hidden="true"></i>
          </button>
      </a>
      <a href="/kaarten">
          <button class="btn btn_kaart">
              <h3>Kaarten</h3>
              <i class="fa fa-map-o fa-5x i" aria-hidden="true"></i>
          </button>
      </a>
      <a href="/haltes">
          <button class="btn btn_haltes disabled">
              <h3>Haltes</h3>
              <i class="fa fa-map-signs fa-5x i" aria-hidden="true"></i>
          </button>
      </a>
      <a href="/info">
          <button class="btn btn_info disabled">
              <h3>Lijn Info</h3>
              <i class="fa fa-info fa-5x i" aria-hidden="true"></i>
          </button>
      </a>
</div>
<% include footer%>
