<h1>home</h1>

<a href="/vertrekken">
    <button class="btn btn_vertrek">
        <h3>Vertrekken</h3>
        <i class="fa fa-road fa-4x i" aria-hidden="true"></i>
    </button>
</a>
<a href="/verkooppunt">
    <button class="btn btn_verkoop" disabled>
        <h3>Verkooppunt</h3>
        <i class="fa fa-list-alt fa-4x i" aria-hidden="true"></i>
    </button>
</a>
<a href="/zoeken">
    <button class="btn btn_quick" disabled>
        <h3>Zoeken</h3>
        <i class="fa fa-search fa-4x i" aria-hidden="true"></i>
    </button>
</a>
<a href="/kaarten">
    <button class="btn btn_kaart">
        <h3>Kaarten</h3>
        <i class="fa fa-map-o fa-4x i" aria-hidden="true"></i>
    </button>
</a>
<a href="/halten">
    <button class="btn btn_haltes disabled">
        <h3>Halten</h3>
        <i class="fa fa-map-signs fa-4x i" aria-hidden="true"></i>
    </button>
</a>
<a href="/info">
    <button class="btn btn_info disabled" disabled>
        <h3>Lijn Info</h3>
        <i class="fa fa-info fa-4x i" aria-hidden="true"></i>
    </button>
</a>
