<% include header%>
<a href="/" class="back">&lt;</a>
<h2><i class="fa fa-map-o fa-1x i " aria-hidden="true"></i>      Kaart</h2>
<div id="map"></div>
<a href="/halten"> <button type="button" class="submit">Halten</button></a>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvmoi8_4ome6MqHZD2vpp0RIv9OXogsDI&callback=initMap">
</script>
<% include footer%>
