<% include header%>
<a href="/" class="back"><button>&lt;</button></a>
<i class="fa fa-road fa-4x i" aria-hidden="true"></i><h2>Vertrekken</h2>
<form method="get" action="/vertrekken">
  <input type="text" name="halte_id" value="" required placeholder="Naar waar?">
  <input type="submit" value="vertrekken">
</form>
<% include footer%>
