<% include header%>
<a href="/" class="back"><button>&lt;</button></a>

<h2><i class="fa fa-road fa-1x i" aria-hidden="true"></i>   Vertrekken</h2>
<form method="get" action="/vertrekken">
  <input type="text" name="halte_id" value="" class="inputhalte" required placeholder="   | HALTENUMMER">
  <input type="submit" class="submit" value="Zoeken">
</form>
<% include footer%>
